@import '/src/StyleAssets/mixins';
.extension-section{
    padding: 1rem;
    h1{
        @include h1-l;
    }
    p{
        @include p-l;
    }
    .coming-soon{
        font-size: 13px;
        font-weight: 600;
    }
}